/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(COMBO_ENTER, DK_ENTER, 16 17 18, _COL)
COMBO(COMBO_ESCAPE, DK_ESC__, 11 12 13, _COL)
COMBO(COMBO_LSHIFT, SK_SHIFT, 12 13, _COL)
COMBO(COMBO_RSHIFT, SK_SHIFT, 16 17, _COL)
COMBO(COMBO_Q, _DK_Q____, 1 3, _COL)
COMBO(COMBO_Z, _DK_Z____, 21 23, _COL)
