/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NONE____ &none
#define KP_ESC__ &kp ESC
#define KP_TAB__ &kp TAB
#define KP_LSHFT &kp LSHFT

#define KP_A____ &kp A
#define KP_B____ &kp B
#define KP_C____ &kp C
#define KP_D____ &kp D
#define KP_E____ &kp E
#define KP_F____ &kp F
#define KP_G____ &kp G
#define KP_H____ &kp H
#define KP_I____ &kp I
#define KP_J____ &kp J
#define KP_K____ &kp K
#define KP_L____ &kp L
#define KP_M____ &kp M
#define KP_N____ &kp N
#define KP_O____ &kp O
#define KP_P____ &kp P
#define KP_Q____ &kp Q
#define KP_R____ &kp R
#define KP_S____ &kp S
#define KP_T____ &kp T
#define KP_U____ &kp U
#define KP_V____ &kp V
#define KP_W____ &kp W
#define KP_X____ &kp X
#define KP_Y____ &kp Y
#define KP_Z____ &kp Z

#define KP_SQT__ &kp SQT
#define KP_DOT__ &kp DOT
#define KP_COMMA &kp COMMA
#define KP_SLASH &kp SLASH


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
// .--------+--------+--------+--------+--------+--------.                                      .--------+--------+--------+--------+--------+--------.
    NONE____ KP_Q____ KP_W____ KP_F____ KP_P____ KP_B____                                        KP_J____ KP_L____ KP_U____ KP_Y____ KP_SQT__ NONE____ 
// |--------+--------+--------+--------+--------+--------|                                      |--------+--------+--------+--------+--------+--------|
    NONE____ KP_A____ KP_R____ KP_S____ KP_T____ KP_G____                                        KP_M____ KP_N____ KP_E____ KP_I____ KP_O____ NONE____ 
// |--------+--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------+--------|
    NONE____ KP_Z____ KP_X____ KP_C____ KP_D____ KP_V____ NONE____ NONE____    NONE____ NONE____ KP_K____ KP_H____ KP_COMMA KP_DOT__ KP_SLASH NONE____ 
// '--------+--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------+--------'
                               NONE____ NONE____ NONE____ NONE____ NONE____    NONE____ NONE____ NONE____ NONE____ NONE____ 
//                            '--------+--------+--------+--------+--------'  '--------+--------+--------+--------+--------'
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};

// .--------+--------+--------+--------+--------+--------.                                      .--------+--------+--------+--------+--------+--------.

// |--------+--------+--------+--------+--------+--------|                                      |--------+--------+--------+--------+--------+--------|

// |--------+--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------+--------|

// '--------+--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------+--------'

//                            '--------+--------+--------+--------+--------'  '--------+--------+--------+--------+--------'


