/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define EXTEND  4
#define ACCENTS 5
#define MAGNET  6

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        tl: thumb_layers {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYERS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

#include "keycodes.def"

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
// .--------+--------+--------+--------+--------+--------.                                      .--------+--------+--------+--------+--------+--------.
    NONE____ KP_Q____ KP_W____ KP_F____ KP_P____ KP_B____                                        KP_J____ KP_L____ KP_U____ KP_Y____ KP_SQT__ NONE____ 
// |--------+--------+--------+--------+--------+--------|                                      |--------+--------+--------+--------+--------+--------|
    NONE____ HM_A____ HM_R____ HM_S____ HM_T____ KP_G____                                        KP_M____ HM_N____ HM_E____ HM_I____ HM_O____ NONE____ 
// |--------+--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------+--------|
    NONE____ KP_Z____ KP_X____ KP_C____ KP_D____ KP_V____ NONE____ NONE____    NONE____ NONE____ KP_K____ KP_H____ KP_COMM_ KP_DOT__ KP_SLSH_ NONE____ 
// '--------+--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------+--------'
                               NONE____ NONE____ NONE____ EXT_SPC_ LWR_RET_    RSE_BSP_ SHIFT___ NONE____ NONE____ NONE____ 
//                            '--------+--------+--------+--------+--------'  '--------+--------+--------+--------+--------'
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		lower_layer {
			bindings = <
// .--------+--------+--------+--------+--------+--------.                                      .--------+--------+--------+--------+--------+--------.
    NONE____ KP_F9___ KP_F10__ KP_F11__ KP_F12__ NONE____                                        KP_EQL__ KP_7____ KP_8____ KP_9____ KP_ASTR_ NONE____ 
// |--------+--------+--------+--------+--------+--------|                                      |--------+--------+--------+--------+--------+--------|
    NONE____ KP_F5___ KP_F6___ KP_F7___ KP_F8___ NONE____                                        KP_PLUS_ KP_4____ KP_5____ KP_6____ KP_0____ NONE____   
// |--------+--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------+--------|
    NONE____ KP_F1___ KP_F2___ KP_F3___ KP_F4___ NONE____ NONE____ NONE____    NONE____ NONE____ KP_MINS_ KP_1____ KP_2____ KP_3____ KP_SLSH_ NONE____ 
// '--------+--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------+--------'
                               NONE____ NONE____ NONE____ ________ ________    ________ ________ NONE____ NONE____ NONE____ 
//                            '--------+--------+--------+--------+--------'  '--------+--------+--------+--------+--------'
			>;
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};

// .--------+--------+--------+--------+--------+--------.                                      .--------+--------+--------+--------+--------+--------.

// |--------+--------+--------+--------+--------+--------|                                      |--------+--------+--------+--------+--------+--------|

// |--------+--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------+--------|

// '--------+--------+--------+--------+--------+--------+--------+--------|  |--------+--------+--------+--------+--------+--------+--------+--------'

//                            '--------+--------+--------+--------+--------'  '--------+--------+--------+--------+--------'


